body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.top {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: yellow;
    grid-column: 1/11;
    grid-row: 1/6;
    animation: changeBackground 7s infinite ease-in-out;
}

.middle {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: aqua;
    grid-column: 1/6;
    grid-row: 6/11;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: blueviolet;
    grid-column: 6/11;
    grid-row: 6/11;
}

.image-wrapper {
    display: grid;
    grid-column: 1/11;
    grid-row: 1/11;
    align-self: center;
    justify-self: center;
    padding: 1em;
}

.image {
    height: auto;
    max-width: 300px;
}

.text-wrapper {
    display: grid;
    grid-column: 1/11;
    grid-row: 1/11;
    align-self: center;
    justify-self: center;
}

.text {
    color: rosybrown;
}

.video-wrapper {
    display: grid;
    grid-column: 1/11;
    grid-row: 1/11;
    align-self: center;
    justify-self: center;
    padding: 1em;
}

.video {
    /* height: auto;
    max-width: 300px; */
}

@media only screen and (max-width: 1250px) {
    .top {
        grid-column: 1/11;
        grid-row: 1/1;
    }
    .middle {
        grid-column: 1/11;
        grid-row: 2/2;
    }
    .bottom {
        grid-column: 1/11;
        grid-row: 3/3;
    }
}

@keyframes changeBackground {
    0% {
        background-color: grey;
    }
    100% {
        background-color: beige;
    }
}